<div class="row orange darken-1 z-depth-3">
  <div class="container animated fadeIn">
    <div class="col s12 white-text">
      <h4 class="white-text">Quiénes somos</h4>
      <p>Para que nos pueda conocer más, le dejamos algo de nuestra historia.</p>
    </div>
  </div>
</div>

<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12">
      <p>¡Hola visitante!, mi nombre es <strong>Sergio Cisternas</strong> y soy el dueño de este proyecto que inicie hace varios años atrás, más de 20 aproximadamente, en la comuna de Puente Alto en Santiago.</p>
      <p>Junto a mi familia tenemos nuestros objetivos muy claros, entregar un trabajo profesional en la confección de cortinas a medida para el hogar, cuidando hasta el más pequeño detalle.</p>
      <p>Los años que ya tenemos en el rubro además de nuestra clientela avalan positivamente nuestro trabajo, por contar con productos de calidad a precios atrayentes.</p>
      <p>Abarcarnos trabajos de diferentes tipos, por mencionar algunos ejemplos:</p>
      <ul>
        <li *ngFor="let trabajo of trabajos" class="lista">
          {{ trabajo }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p>Además, como ha visto en nuestro sitio, nos esforzamos por mantener estos pilares en nuestra forma de trabajar: </p>
    </div>
    <div class="col s12 m6 l4">
      <div class="card-panel orange darken-1 white-text nosotros-tarjeta">
        <h4 class="white-text">Dedicación</h4>
        <p>Experiencia y pasión es lo que deseamos entregar con nuestros trabajos.</p>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card-panel purple white-text nosotros-tarjeta">
        <h4 class="white-text">Calidad</h4>
        <p>Buscamos los mejores materiales del mercado para nuestros trabajos de cortinaje.</p>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card-panel orange darken-1 white-text nosotros-tarjeta">
        <h4 class="white-text">Compromiso</h4>
        <p>Cada día nos esforzamos por entregar productos de calidad al mejor precio.</p>
      </div>
    </div>
  </div>
</div>
